:global {
  .change-password {
    .back {
      color: #fff;
    }
    header {    
      height: 50px;
      display: flex !important;
      justify-content: center;
      align-items: center;
      background: #2e43ff;
      color: #fff;
      font-size: 17px;
      span: {
        float: left;
      }
    }
    .content {
      >p {
        height: 40px;
        line-height: 40px;
        padding-left: 15px;
      }
      .am-list-item.am-input-item:after {
        display: none !important;
      }
      input {
        height:26px;
        font-size: 15px !important;
      }
      input::-webkit-input-placeholder {
        font-size: 15px !important;
        padding-left: 2px;
      }
      .am-input-clear {
        width: 20px;
        height: 20px;
        background-size: 100% auto;
      }
      .am-input-control {
        display: flex;
        align-items: center;
      }
      .am-input-item {
        padding: 0px 15px;
        min-height: 45px;
        height: 45px;
        border-bottom: 1px #ccc solid;
        margin-bottom: 10px;
        border: none;
      }
      .am-input-focus {
        border-bottom: 1px #A4C5FF solid;
      } 
    }
    .submit-pack {
      text-align: center;
      margin-top: 20px;
      .am-button {
        height: 40px;
        border-radius: 100px;
        background-image:linear-gradient(90deg, #2e43ff 0%, #4da9ff 99%);
        border: none;
        font-size:16px;
        line-height: 40px;
        // margin: 10px;
        width: 90%;
      }
    }
  }
}