.root {
  background-color: #ffffff;
  height: 50px;
  position: fixed;
  z-index: 50;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  border-top: 1px solid #E7E7E7;
  span {
    padding-bottom: 5px;
  }
}
.root a:first-child {
  background: url("./imgs/index-noselect.png") no-repeat center 7px;
  background-size: 23px;
}
.root a:nth-child(2) {
  background: url("./imgs/swa-noselect.png") no-repeat center 7px;
  background-size: 23px;
}
.root a:nth-child(3) {
  background: url("./imgs/mine-noselect.png") no-repeat center 7px;
  background-size: 23px;
}

.navIndex, .navTwo, .navThree, .navSwa, .navMine {
  color: #007aff;
  &:hover, &:active {
    color: #007aff;
  }
}

.navIndex {
  background-image: url("./imgs/index-select.png") !important;
  background: no-repeat center 7px ;
  background-size: 23px;
}
.navSwa {
  background-image: url("./imgs/swa-select.png") !important;
  background: no-repeat center 7px ;
  background-size: 23px;
}
.navMine {
  background-image: url("./imgs/mine-select.png") !important;
  background: no-repeat center 7px ;
  background-size: 23px;
}
