:global {
  .login-server {
    background: #ffffff;
    height: 100%;
    .back {
      position: absolute;
      top: 6px;
      left: 15px;
      padding: 10px;
      font-size: 0.4rem;
    }
    header {    
      height: 50px;
      display: flex !important;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      font-size:17px;
      color:#303030;
      span: {
        float: left;
      }
    }
    .content {
      padding: 0 1.3288rem !important;
      margin-top: 80px;
  
      .am-list-item.am-input-item:after {
        display: none !important;
      }
      input {
        height:26px;
        font-size: 15px !important;
      }
      input::-webkit-input-placeholder {
        font-size: 15px !important;
        padding-left: 2px;
      }
      .am-input-clear {
        width: 20px;
        height: 20px;
        background-size: 100% auto;
      }
      .am-input-control {
        display: flex;
        align-items: center;
      }
      .am-input-item {
        min-height: 35px;
        height: 35px;
        padding: 0;
        border-bottom: 1px #ccc solid;
        margin: 0;
      }
      .am-input-focus {
        border-bottom: 1px #A4C5FF solid;
      }
    }
    .login-submit {
      background: #ffffff;
      margin: 0px 1.3288rem;
      margin-top: 30px;
      .am-button {
        height: 40px;
        border-radius: 100px;
        background-image:linear-gradient(90deg, #2e43ff 0%, #4da9ff 99%);
        border: none;
        font-size:16px;
        line-height: 40px;
      }
    } 
  }
}
